h2 {
	font-family:sans-serif;
}

.hidden_button {
    visibility: hidden;
}

.active_button {
    visibility: show;    
}

div.default {
    border: 1px dotted #ddd;
    margin: 1px 0 1px 0;
}

div.displayblock {
    font-family: monospace;
    white-space: pre;
    border: 1px #eee solid;
    background-color: #eee;
    max-height: 300px;
    overflow-x:hidden;
    overflow-y:visible;
}


a.restart {
    display: block;
    float: right;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #fffaff;
    font-size: 16px;
    background: #ff94a2;
    padding: 4px 7px 4px 7px;
    text-decoration: none;
    position:relative;
    top: -50px;
}

a.restart:hover {
  background: #ff0000;
  text-decoration: none;
}


.stderr {
    color: red;
}

div#div_NNN {
    visibility: hidden;
}